<div *ngIf="!sectionIdSet" class="section-id-warning">
  <mat-hint color="warn">Please select a section first</mat-hint>
</div>

<form [formGroup]="unitForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Select Course</mat-label>
    <mat-select formControlName="courseId" (selectionChange)="onCourseSelect($event.value)">
      <mat-option *ngFor="let course of courses" [value]="course._id">
        {{course.title}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="unitForm.get('courseId')?.errors?.['required']">
      Course is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Section</mat-label>
    <mat-select formControlName="sectionId" [disabled]="!selectedCourseId">
      <mat-option *ngFor="let section of sections$ | async" [value]="section._id">
        {{section.title}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="unitForm.get('sectionId')?.errors?.['required']">
      Section is required
    </mat-error>
  </mat-form-field>


  <mat-form-field appearance="outline" *ngIf="prerequisites.length">
    <mat-label>Prerequisites</mat-label>
    <mat-select formControlName="prerequisites" multiple>
      <mat-option *ngFor="let prereq of prerequisites" [value]="prereq._id">
        {{ prereq.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div class="form-actions">
    <button mat-button type="button" (click)="onCancel()">Cancel</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="unitForm.invalid"
    >
      {{ unit ? "Update" : "Create" }} Unit
    </button>
  </div>
</form>
