// question-management.component.html
<div class="question-management">
  <h1>Question Management</h1>

  <div class="selectors">
    <!-- Course Selection -->
    <mat-form-field appearance="outline">
      <mat-label>Select Course</mat-label>
      <mat-select [(ngModel)]="selectedCourseId" (selectionChange)="onCourseSelect($event)">
        <mat-option *ngFor="let course of courses$ | async" [value]="course._id">
          {{ course.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Section Selection -->
    <mat-form-field appearance="outline">
      <mat-label>Select Section</mat-label>
      <mat-select
        [(ngModel)]="selectedSectionId"
        (selectionChange)="onSectionSelect($event)"
        [disabled]="!selectedCourseId"
      >
        <mat-option *ngFor="let section of sections$ | async" [value]="section._id">
          {{ section.title }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-tab-group>
    <!-- Questions List -->
    <mat-tab label="Questions List">
      <div class="questions-list" *ngIf="selectedSectionId">
        <div *ngFor="let question of questions$ | async" class="question-item">
          <div class="question-content">
            <h3>{{ question.title }}</h3>
            <p>{{ question.content }}</p>
            <span class="points-value">Points: {{ question.pointsValue }}</span>
          </div>
        </div>
      </div>
    </mat-tab>

    <!-- Create Question -->
    <mat-tab label="Create Question" [disabled]="!selectedSectionId">
      <app-question-form
        [sectionId]="selectedSectionId"
        (save)="createQuestion($event)"
        (cancel)="clearSelection()">
      </app-question-form>
    </mat-tab>
  </mat-tab-group>
</div>